<h1> Edit Post </h1>

<form method= "post" action= "<%= post_url(@post) %>">
  <input type = "hidden" name = "_method" value= "patch">
  <%=render "shared/token" %>

  <label for= "title">Post Title</label>
  <input type = "text" name= "post[title]" id = 'title' value = <%= @post.title%>>
  <br><br>

  <label for= "url">Post Url</label>
  <input type = "text" name = "post[url]" id = 'url' value = <%= @post.url%>>
  <br><br>

  <label for= "content">Content</label>
  <textarea name = "post[content]" id = 'content' ><%=@post.content%></textarea>
  <br><br>
  <% @subs.each do |sub| %>
    <label for= <%= "checkbox#{sub.id}" %> ><%= sub.title %></label>
    <input type="checkbox"
      name="post[sub_ids][]"
      value = "<%= sub.id %>" id="<%= "checkbox#{sub.id}" %>"
    <%="checked" if @post.sub_ids.include?(sub.id)%> >
    <br>
  <%end%>
  <br>
  <input type= "submit" >

</form>
